/* Base */

* {
	@include box-sizing(border-box);
}

body {
	margin: 0;
	font-size: $font-base;
	font-family: $font-family-body;
	font-weight: $font-weight-normal;
	line-height: 1.8;
	color: $body-color;
	background-color: lighten($brand-color, 25%);
	@include font-smoothing;
}

h1, h2, h3 {
	margin-bottom: 32px;
	font-family: $font-family-heading;
	font-weight: $font-weight-bold;
	line-height: 1.1;
	text-transform: uppercase;
}

h1 {
	font-size: $font-h2;
	text-align: center;
	color: $black;
	@media screen and (min-width: $screen-xs) {
		font-size: $font-h1;
	}
}
h2 {
	font-size: $font-h2;
	margin-bottom: $font-h2;
}
h3 {
	font-size: $font-h3;
	margin-bottom: 28px;
}

a {
	color: $brand-color;
	text-decoration: none;
	@include transition(color 0.25s);
}

input {
	border-radius: 0;
	padding: 14px;
	&:focus {
		outline: none;
	}
}

.btn,
input[type="submit"],
button {
	position: relative;
	display: inline-block;
	padding: 8px 25px;
	text-transform: uppercase;
	overflow: hidden;
	font-family: $font-family-heading;
	background-color: $brand-color;	
	color: $white;
	border: none;
	border-bottom: 4px solid darken($brand-color, 15%);
	cursor: pointer;
	@include transition(all 0.3s);
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: darken($brand-color, 5%);
	}
}

input[placeholder] {
	@include placeholder($body-color);
}

input,
select {
	border: none;
	background-color: $grey-light;
	@include border-radius(2px);
	@include transition(background-color 0.3s);
	&:focus {
		background-color: $white;
		outline: none;
	}
}

p {
	margin-top: 0;
	margin-bottom: 32px;
	&:last-child {
		margin-bottom: 0;
	}
}

img {
	max-width: 100%;
}

pre {
  background-color: #f5f5f5;
}


/* Repeatables */

.section {
	margin: 0 0 20px 0;
}
.section-body {
	h1 {
		margin-top: 0;
	}
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.container-main {
	padding-top: 25px;
	@media screen and (min-width: $screen-xs) {
		padding-top: 20px;
	}
}

.todo-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	 > li {
	 	position: relative;
		margin: 0 0 14px 0;
		line-height: 40px;
		background-color: $white;
		border-bottom: 4px solid $grey-light;
		@include transition(opacity 0.3s);
		
		&.task-completed {
			opacity: 0.7;	
			.name {
				text-decoration: line-through;
			}	
		}
		&.task-empty {
			background-color: transparent;
			border-bottom: none;
		}

		.number {
			display: inline-block;
			height: 40px;
			width: 40px;
			text-align: center;
			background-color: $grey-dark;
			color: $white;
		}

		.priority {
			float: right;
			width: 40px;
			padding: 0 10px;
			text-align: center;
			background-color: $color-low;
			color: $white;
			@media screen and (min-width: $screen-xs) {
				width: 77px;
			}
			@media screen and (max-width: $screen-xs) {
				text-indent: -999em;
			}
			&.medium {
				background-color: $color-medium;
			}			
			&.high {
				background-color: $color-high;
			}
		}

		input {
			margin: 0 10px;
		}

		.delete {
			display: block;
			position: relative;
			float: right;
			height: 40px;
			width: 40px;
			text-align: center;
			color: $white;
			background-color: $black;
			cursor: pointer;
			@include transition(background-color 0.3s);

			&:after {
				content: 'X';
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
			}
			&:hover {
				background-color: lighten($black, 45%);
			}	
		}
	}
}


/* Header */

.task-bar {
	display: inline-block;
	top: -59px;
	padding: 10px;
	width: 100%;
	z-index: 999;
	background-color: $grey-dark;
	@media screen and (min-width: $screen-xs) {
		text-align: center;
	}

	input {
		padding: 10px;
		width: 50%;
		font-family: $font-family-body;
		@media screen and (max-width: $screen-xs) {
			width: 100%;
			margin-bottom: 10px
		}
	}
	select {
		float: right;
		height: 39px;
		padding: 10px;
		@media screen and (max-width: $screen-xs) {
			width: 100%;
		}
	}
}

#todoapp {
	select {
		padding: 0 10px;
		width: 100%;
		height: 40px;
		line-height: 40px;
		margin-bottom: 34px;
		background-color: #f0f0f0;
		border-bottom: 4px solid $grey-light;
		&:focus {
			background-color: $white;
		}
	}
}