<!doctype html>
<html class="no-js" lang="" ng-app="todo">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>My App | AngularJS</title>
        <meta name="description" content="My App HTML5 CSS3 AngularJS">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" type="image/ico" href="favicon.ico">

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:700,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/angular.1.4.4.min.js"></script>
    </head>
    <body ng-controller="ToDoCtrl">
        <header class="task-bar">
            <input type="text" name="add-task" placeholder="Add task" ng-model="taskName" ng-keyup="addTask()" />    
            <select ng-model="priority">
                <option value='low'>Low</option>
                <option value='medium'>Medium</option>
                <option value='high'>High</option>
            </select>
        </header>

        <section id="todoapp" class="section section-body">
            <div class="container container-main">

                <select ng-model="orderProp">
                    <option default value="">Sort by...</option>
                    <option value="name">A-Z</option>
                    <option value="mySort()">Priority</option>
                </select>

                <ul class="todo-list">
                    <li class="task" ng-class="{'task-completed' : task.completed == true}" ng-repeat="task in tasklist | orderBy:orderProp">
                        <span class="number">{{$index + 1}}</span>
                        <input type="checkbox" name="checkbox" ng-model="task.completed" />
                        <span class="name">{{task.name}}</span>
                        <span class="delete icon" title="Delete Task" ng-click="deleteTask($index)"></span>
                        <span class="priority {{ task.priority }}">{{task.priority}}</span>
                    </li>     
                    <li class="task-empty" ng-show="!tasklist.length">No current tasks. Please add more.</li>   
                </ul>

                <button class="btn" ng-click="removeTask($index)">Delete Selected</button>

            </div>
        </section>

        <script>
            var myApp = angular.module('todo', [])

            myApp.controller('ToDoCtrl', ['$scope', 'filterFilter', function($scope, filterFilter) {
                $scope.tasklist = [
                    { name : 'First Example Task', completed : false, priority : "low" },
                    { name : 'Second Example Task', completed : false, priority : "high" },
                ];

                $scope.priority = "low";

                $scope.addTask = function() {
                    if(event.keyCode == 13 && $scope.taskName) {
                        $scope.tasklist.push({ 
                            "name" : $scope.taskName,
                            "completed" : false,
                            "priority" : $scope.priority 
                        });
                        $scope.taskName = "";
                        $scope.priority = "low";
                    }
                }

                $scope.deleteTask = function(index) {
                    $scope.tasklist.splice(index, 1);
                }  

                $scope.removeTask = function() {
                    $scope.tasklist = filterFilter($scope.tasklist, function(task) {
                        return !task.completed;
                    })
                }            
            }]);

        </script>
    </body>
</html>